# Merge and Joining

In [ ]:
# pd.merge(df1,df2,on = 'same column_name ',how = 'type of join such as inner')

In [12]:
import pandas as pd

# First DataFrame (df1)
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

# Second DataFrame (df2)

df2 = pd.DataFrame({
    'ID': [1, 2, 3, 5],
    'Salary': [50000, 60000, 70000, 80000]
})

In [7]:
df3 = pd.merge(df1,df2, on = 'ID',how = 'inner',indicator = True)
df3

   ID     Name  Age  Salary _merge
0   1    Alice   25   50000   both
1   2      Bob   30   60000   both
2   3  Charlie   35   70000   both

In [8]:
df3 = pd.merge(df1,df2, on = 'ID',how = 'right',indicator = True)
df3

   ID     Name   Age   Salary      _merge
0   1    Alice  25.0  50000.0        both
1   2      Bob  30.0  60000.0        both
2   3  Charlie  35.0  70000.0        both
3   4    David  40.0      NaN   left_only
4   5      NaN   NaN  80000.0  right_only

In [9]:
df3 = pd.merge(df1,df2, on = 'ID',how = 'left',indicator = True)
df3

   ID     Name  Age   Salary     _merge
0   1    Alice   25  50000.0       both
1   2      Bob   30  60000.0       both
2   3  Charlie   35  70000.0       both
3   4    David   40      NaN  left_only

In [10]:
df3 = pd.merge(df1,df2, on = 'ID',how = 'outer',indicator = True)
df3

   ID     Name   Age   Salary      _merge
0   1    Alice  25.0  50000.0        both
1   2      Bob  30.0  60000.0        both
2   3  Charlie  35.0  70000.0        both
3   4    David  40.0      NaN   left_only
4   5      NaN   NaN  80000.0  right_only

In [13]:
df3 = pd.merge(df1,df2, on = 'ID',how = 'cross',indicator = True)
df3

MergeError: Can not pass on, right_on, left_on or set right_index=True or left_index=True

In [15]:
import pandas as pd

# First DataFrame (df1)
df1 = pd.DataFrame({
    'Employee_ID': [1, 2],
    'Name': ['Alice', 'Bob']
})

# Second DataFrame (df2)
df2 = pd.DataFrame({
    'Department': ['HR', 'IT']
})

In [16]:
cross_join_df = df1.merge(df2, how='cross')
print(cross_join_df)

   Employee_ID   Name Department
0            1  Alice         HR
1            1  Alice         IT
2            2    Bob         HR
3            2    Bob         IT

In [18]:
import pandas as pd

# Employee Data (df1)
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, None, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [50000, None, 70000, 80000],
    'Performance Score': [78, None, 90, 80]
})
# Department Data (df2)
df2 = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance']
})
cross_join_df = df1.merge(df2, how='cross')
print(cross_join_df)

       Name   Age         City   Salary  Performance Score Department
0     Alice  25.0     New York  50000.0               78.0         HR
1     Alice  25.0     New York  50000.0               78.0         IT
2     Alice  25.0     New York  50000.0               78.0    Finance
3       Bob  30.0  Los Angeles      NaN                NaN         HR
4       Bob  30.0  Los Angeles      NaN                NaN         IT
5       Bob  30.0  Los Angeles      NaN                NaN    Finance
6   Charlie   NaN      Chicago  70000.0               90.0         HR
7   Charlie   NaN      Chicago  70000.0               90.0         IT
8   Charlie   NaN      Chicago  70000.0               90.0    Finance
9     David  40.0      Houston  80000.0               80.0         HR
10    David  40.0      Houston  80000.0               80.0         IT
11    David  40.0      Houston  80000.0               80.0    Finance