# Concate in pandas

In [3]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenating along rows
result = pd.concat([df1, df2], ignore_index=True)
print(result)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [6]:
result = pd.concat([df1, df3], axis=0)
print(result)

     A    B     C
0  1.0  3.0   NaN
1  2.0  4.0   NaN
0  NaN  NaN   9.0
1  NaN  NaN  10.0